---
import { CollectionEntry, getCollection } from 'astro:content';
import { GITHUB_URL } from '../config';
import Layout from '../layouts/Layout.astro';

interface Props {
  latestArticles: [
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>
  ];
}

async function getLatestArticles() {
  const articles = await getCollection('articles');
  const sortedArticles = articles.sort(
    (articleA, articleB) =>
      articleA.data.publishDate.getTime() - articleB.data.publishDate.getTime()
  );
  return sortedArticles.slice(0, 3);
}

const latestArticles = await getLatestArticles();
---

<Layout title="Web Devil">
  <main class="flex flex-col gap-8 items-center mt-12">
    <h1 class="text-white text-center text-6xl mx-16">
      ברוכים הבאים ל־<span class="text-red-600">WEB DEVIL</span>
    </h1>
    <section class="bg-white p-12 w-full">
      <h3 class="text-center text-2xl">
        בלוג פיתוח רשת וקוד פתוח לקהילת המפתחים דוברי העברית
      </h3>
      <h3 class="text-center text-2xl">
        רוצים לתרום מאמר פרי עטכם? <a
          target="_blank"
          href={GITHUB_URL}
          class="bg-yellow-300 hover:bg-yellow-400">פתחו PR כאן!</a
        >
      </h3>
      <h3 class="text-center mt-8">
        <span
          class="text-center animate-shift font-extrabold text-2xl md:text-4xl p-2 bg-red-600"
          >האתר בתהליכי בנייה
        </span>
      </h3>
    </section>
    <section class="p-12">
      <h2 class="text-center text-3xl font-bold text-red-600 mb-8">
        כתבות חדשות
      </h2>
      <div
        class="grid md:grid-rows-2 md:grid-cols-2 justify-items-center items-center gap-12 relative"
      >
        {
          latestArticles.map((article) => (
            <div class="w-64 h-64 text-center relative">
              <a
                href={`article/${article.slug}`}
                class="w-full h-full block p-2 bg-white hover:bg-slate-200"
              >
                <h4 class="font-bold text-lg">{article.data.title}</h4>
                <h5>כותב: {article.data.author}</h5>
                <h5>
                  תאריך: {article.data.publishDate.toLocaleDateString('en-GB')}
                </h5>
              </a>
              <div class="absolute bottom-0 flex gap-2 p-2">
                תגים:{' '}
                {article.data.tags.map((tag) => (
                  <a
                    href={`tag/${tag}`}
                    class="capitalize underline bg-transparent block z-2  hover:bg-yellow-300"
                  >
                    {tag}
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
