---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import config from '../config';
import Layout from '../layouts/Layout.astro';

interface Props {
  latestArticles: [
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>,
    CollectionEntry<'articles'>
  ];
}

const { GITHUB_URL } = config;

async function getLatestArticles() {
  const articles = await getCollection('articles');
  const sortedArticles = articles.sort(
    (articleA, articleB) =>
      articleA.data.publishDate.getTime() - articleB.data.publishDate.getTime()
  );
  return sortedArticles.slice(0, 3);
}

const latestArticles = await getLatestArticles();
---

<Layout title="Web Devil">
  <main class="mt-12 flex flex-col items-center gap-8">
    <h1 class="mx-16 text-center text-6xl text-white">
      ברוכים הבאים ל־
      <span class="text-red-600">WEB DEVIL</span>
    </h1>
    <section class="w-full bg-white p-12">
      <h3 class="text-center text-2xl">
        בלוג פיתוח רשת וקוד פתוח לקהילת המפתחים דוברי העברית
      </h3>
      <h4 class="text-center text-2xl">
        רוצים לתרום מאמר פרי עטכם?
        {' '}
        <a
          target="_blank"
          href={GITHUB_URL}
          class="bg-yellow-300 hover:bg-yellow-400"
          rel="noreferrer"
        >
          פתחו PR כאן!
        </a>
      </h4>
      <h4 class="mt-8 text-center">
        <span
          class="animate-shift bg-red-600 p-2 text-center text-2xl font-extrabold md:text-4xl"
        >
          האתר בתהליכי בנייה
        </span>
      </h4>
    </section>
    <section class="p-12">
      <h3 class="mb-8 text-center text-3xl font-bold text-red-600">
        כתבות חדשות
      </h3>
      <div
        class="relative grid items-center justify-items-center gap-12 md:grid-cols-2 md:grid-rows-2"
      >
        {
          latestArticles.map((article) => (
            <div class="relative h-64 w-64 text-center">
              <a
                href={`article/${article.slug}`}
                class="block h-full w-full bg-white p-2 hover:bg-slate-200"
              >
                <h4 class="text-lg font-bold">{article.data.title}</h4>
                <h5>
                  כותב:
                  {article.data.author}
                </h5>
                <h5>
                  תאריך: {article.data.publishDate.toLocaleDateString('en-GB')}
                </h5>
              </a>
              <div class="absolute bottom-0 flex gap-2 p-2">
                תגים:{' '}
                {article.data.tags.map((tag) => (
                  <a
                    href={`tag/${tag}`}
                    class="z-10 block bg-transparent capitalize underline hover:bg-yellow-300"
                  >
                    {tag}
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
